.carousel-inner {
	width: 100%;
	display: inline-block;
	position: relative;
	padding-top: 40%; /* Reducido para ocupar menos espacio vertical */
}

.carousel-item {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: skyblue;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 40%; /* Reducido para que sea más estrecho */
	z-index: 9;
	margin-top: 20px;
	text-align: center;
}

.caption h1 {
	color: #fff;
	font-size: 36px; /* Reducido el tamaño de la fuente */
	font-weight: 700;
	margin-bottom: 23px;
}

.caption h2 {
	color: rgba(255,255,255,.75);
	font-size: 18px; /* Reducido el tamaño de la fuente */
	font-weight: 300;
}

a.big-button {
	color: #fff;
	font-size: 19px;
	font-weight: 700;
	text-transform: uppercase;
	background: #eb7a00;
	background: rgba(255, 0, 0, 0.75);
	padding: 15px 20px; /* Reducido el padding para ocupar menos espacio */
	border-radius: 3px;
	margin-top: 40px; /* Reducido el margen superior */
	margin-bottom: 0;
	display: inline-block;
}

a.big-button:hover {
	text-decoration: none;
	background: rgba(255, 0, 0, 0.9);
}

a.view-demo {
	color: #fff;
	font-size: 21px;
	font-weight: 700;
	display: inline-block;
	margin-top: 20px; /* Reducido el margen superior */
}

a.view-demo:hover {
	text-decoration: none;
	color: #333;
}
